*{
	margin : 0;
	padding : 0;
	box-sizing : border-box ;
	
}
header 
{
	width : 100%;
	height : 100vh;
	background-image : linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('ayush.jpg');
   background-repeat : no-repeat ;
   background-size : cover;
}
nav
{
	width : 100%;
	height : 15vh;
	background-color : rgba(0,0,0,0.2);
	color : white;
 justify-content:  space-between;
 text-transform :  uppercase;
	display : flex ;
	align-items : center;
}
nav .logo
{
	width : 25%;
	text-align : center ;
}
nav .menu
{
	width : 40%;
    justify-content : space-around ;
	display : flex;
	
}
nav .menu a
{
	color : white;
	width : 25%;
	font-weight : bold;
	//text-decoration : none;
}
/*nav .menu: first-child a{
	color = #00b894;
}*/
	main
	
	{
		width : 100%;
		height : 85vh;
		text-align : center ;
		justify-content : center ;
		align-items : center ;
		color : white;
		display : flex;
	}
 section  h3 
	{
		font-size : 34px;
		font-weight : 900;
		letter-spacing : 3px;
		text-shadow :1px 1px 2px black;
	}
section	h1
	{
		font-size : 30px;
		margin : 25px 0px 10px 0px;
		font-weight : 700;
letter-spacing : 3px;
text-shadow : 1px 1px 2px black ;
text-transform : uppercase;
	}		
	section p
	{
		font-size : 25px;
		font-weight : 200;
	
		word-spacing : 3px;
		text-shadow : 1px 1px 2px black;
		margin-bottom : 25px;
	}
	section  a 
	{
		 border-radius : 4px;
		outline : none;
		text-transform : uppercase ;
		letter-spacing : 1px;
		font-size : 13px;
		//1color : white;
	    padding : 12px 30px  ;
		text-decoration : none;
		font-weight : 500;
		text-weight : bold;
		
	}
	section .b1 
	{
		color : black;
		background : #fff;
	}
 section .b2
 {
	 background : #00b894;
  color : black;
		
 }
 
.change_content:after
{
	content : '';
	animation : changetext 10s infinite linear ;
	color : #00b894 ;
}
@keyframes changetext{
	0%{ content:"RedFort";}
	20% { content : "Hawa Mahal";}
	50% { content : "Gateway Of India";}
	75% { content : 'Khajuraho';}
	100% {content : "TajMahal";}
}
a.active
{
 text-decoration: overline;

}